.container{
    display:flex;
    transition: all 0.5s;
    padding-top: -20px;
}
.sidebar{
    box-shadow: 0 1px 6px 0 rgb(201, 199, 199);
    background: rgb(35, 33, 33);
    color: rgba(194, 193, 193, 0.837);
    height: 100vh;
    transition: all 0.5s;
    /* border-radius: 0 25px 25px 0; */
}
.sidebar__child{
    margin-top: 30px;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
    transition: all 0.5s;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    transition: all 0.5s;
    
}
.link{
    display: flex;
    align-items: center;
    color:rgba(194, 193, 193, 0.837);
    padding: 0 0.7rem;
    margin: 0.5rem 0.5rem;
    transition: all 0.5s;
}
.link:hover{
    background: #464646;
    border-radius: 10px;
    align-items: center;
    color: white;
    transition: all 0.5s;
}
.active{
    background: #464646;
    border-radius: 10px;
    color:white;
    transition: all 0.5s;
}

.icon {
    position: relative;
    top: 2px;
}

.icon,  .link_text{
    font-size: 20px;
    /* margin-top: 10px; */
    padding: 0.8rem 0;
}
.link_text {
    padding-left: 1.2rem;
}